.contact {
  .contact-hero {
    position: relative;
    @include prefix(background-size, cover, webkit ms o );
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 56.25%;
      @include media-min-width(tablet) {
        padding-bottom: 46.25%;
      }
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #contact-form {
    position: relative;
    z-index: 10;
    .error {
      color: red;
      font-size: 18px;
    }
    .invalid {
      border: 1px solid red;
    }
  }

  .contact-form-container {
    margin: 20px;
    @include calc(width, "100% - 40px" );
    @include media-min-width(tablet) {
      max-width: 768px;
      margin: 20px auto;
    }
  }

  .message {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    &.visible {
      display: block;
    }
    &__status,
    &__success {
      opacity: 0;
      padding: 50px;
      font-size: 30px;
      color: $white;
      background-color: $clearblack;
      border: 1px solid $black;
      letter-spacing: 3px;
      @include animation('pulse 1.5s ease-in infinite');
      @include prefix(box-shadow, -6px 3px 5px 0px rgba(0,0,0,0.33), webkit ms);
      &.visible {
        @include prefix(transition, opacity 0.6s ease-in 0.2s, webkit ms );
        opacity: 1;
      }
    }
  }
}
