.projects {
  main {
    padding: 50px 30px;
    @include media-min-width(mobile) {
      padding: 50px 40px;
    }
    @include media-min-width(tablet) {
      padding: 50px 60px;
    }
    @include media-min-width(desktop) {
      padding: 50px;
    }
  }

  .project-list {
    padding: 40px 0 0;
    @include media-min-width(tablet) {
      padding: 60px 0 0;
    }
    &__item {
      margin: 30px auto;
      @include media-min-width(mobile) {
        margin: 40px auto;
      }
      @include media-min-width(tablet) {
        margin: 45px auto;
      }
      @include media-min-width(desktop) {
        margin: 50px auto;
      }
    }
    &__link {
      display: inline-block;
      color: $black;
      font-family: $serif;
      font-size: 30px;
      @include media-min-width(mobile) {
        font-size: 55px;
      }
      @include media-min-width(tablet) {
        font-size: 75px;
        @include prefix(transition, all 0.35s ease-out 0.35s, webkit ms );
        &:hover {
          color: $green;
          @include prefix(transition, color 0.35s ease-in, webkit ms );
        }
      }
    }
  }

  .projects__copy {
    margin: 35px auto;
    font-size: 18px;
    color: $silver;
  }
}
