.photo {
	overflow: hidden;
	max-height: 300px;
	@include media-min-width(mobile) {
		max-height: 450px;
	}
	&__image {
		margin: 10px auto;
		@include calc(min-height,100vw/(720/264));
	}
}

.about-content {
	&__copy {
		max-width: 720px;
		margin: 60px auto;
		font-size: 22px;
		font-weight: 100;
		letter-spacing: 1.5px;
		line-height: 1.8;
	}

	&__link {
		color: $green;
		text-decoration: underline;
	}
}

.photo,
.about-content {
	margin: 20px 15px;
	@include media-min-width(mobile) {
		margin: 20px 30px;
	}
	@include media-min-width(tablet) {
		margin: 50px 40px;
	}
}
