/* Catamaran Thin */
@font-face {
  font-family: 'Catamaran-Thin';
  font-style: normal;
  font-weight: 200;
  src: url('..src/fonts/Catamaran/Catamaran-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Catamaran Regular */
@font-face {
  font-family: 'Catamaran-Regular';
  font-style: normal;
  font-weight: 200;
  src: url('..src/fonts/Catamaran/Catamaran-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Catamaran SemiBold */
@font-face {
  font-family: 'Catamaran-SemiBold';
  font-style: normal;
  font-weight: 200;
  src: url('..src/fonts/Catamaran/Catamaran-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

