/** Contact Page**/
#contact-form {
	position: relative;
}
.contact-hero {
	background: url('/src/images/macbook.jpeg') center center no-repeat;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position:relative;
	width: 100%;
	height: 55vh;
	background-color: $black;
	h1 {
		color: $white;
		font-weight: 300;
		font-size: 80px;
		letter-spacing: 3px;
		margin-bottom: 50px;
		font-family: 'Catamaran-Thin';
	}
}

.contact-form-container {
	margin: 50px 0;
}

.contact-hero, .about-hero {
	overflow: hidden;
	h1 {
		width: 100%;
		padding: 400px;
		background: rgba(0 , 0, 0, 0.32);
	}
}

.contact-message {
	position: absolute;
	visibility: hidden;
	opacity: 0.9;
	margin: 20%;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	p {
		font-size: 25px;
		padding: 50px 30px;
		color: $white;
		background: $silver;
		letter-spacing: 3px;
		border: 1px solid $black;
		@include prefix(box-shadow, -6px 3px 5px 0px rgba(0,0,0,0.33), webkit ms o );
	}
	&.visible {
		visibility: visible;
	}
}