
.contact-hero {
	background: url('/src/images/contact/macbook.jpg') center center no-repeat;
	@include prefix(background-size, cover, webkit ms o );
	@include calc(min-height,100vw/(1200/694));
}

#contact-form {
	position: relative;
	z-index: 10;
}

.contact-form-container {
	margin:20px 0;
}

.success{
	visibility: hidden;
	position: absolute;
	opacity: 0.9;
	margin: 20%;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	&__message {
		font-size: 25px;
		padding: 50px 30px;
		color: $white;
		background: $silver;
		letter-spacing: 3px;
		border: 1px solid $black;
		@include prefix(box-shadow, -6px 3px 5px 0px rgba(0,0,0,0.33), webkit ms);
		&.success-message--visible {
			visibility: visible;
		}
	}
}
