footer {
	width: 100%;
	padding: 60px 0;
	clear: both;
	z-index: 55;
	overflow:hidden;
	margin-top: 60px;
	background-color: $black;
	.email-container {
		float: left;
		margin: 0 20px;
		a{
			font-size: 18px;
			&:hover{
				color: $green;
			}
		}
		span {
			font-size: 60%;
		}
	}
	.social{
		float: right;
		margin-right: 20px;
	}
}