section {
	max-width: 1400px;
	margin: 0 auto;
}

#contact-form {
    padding: 25px 15px 25px 10px;
}

input[type="text"], select, textarea {
	font-family: 'catamaran-Thin';
	font-size: 22px;
	border-radius: 0;
}

input[type="text"] {
	@include media-min-width(mobile) { 
		width: 320px;
	}
	@include media-max-width(mobile) {
		width: 95%;
		margin:25px 0;
	}
	padding: 10px 0;
	border-bottom: 1px solid $gray;
}


select {
	width: 320px;
	background-color: $blue;
	color: $black;
	padding: 10px 0;
	margin-top: 15px;
}

fieldset {
	@include media-min-width(mobile) {
		margin-top:50px;
		margin-bottom: 40px;
		*:first-child {
			margin-right: 40px;
		}
	}
	@include media-max-width(mobile) {
		margin: 0;
		// *:first-child {
		// 	margin: 0;
		// }
	}
}

textarea {
    display: block;
    @include media-max-width(mobile) {
    	width: 90%
    }
    @include media-min-width(mobile) {
	    width: 100%;
    }
	border: 1px solid;
    padding: 20px 10px 80px;
    margin: 70px auto 0;
    max-width: 675px;
}

button {
	width: 200px;
	margin: 40px auto;
	padding: 15px 0;
	font-size: 18px;
	border: 1px solid $black;
	color: $black;
	text-transform: uppercase;

	&:hover {
		background-color: $gray;
		color: $white;
		transition: background-color 0.6s;
	}

}