section {
  max-width: 1400px;
  margin: 0 auto;
}

#contact-form {
    padding: 25px 15px 25px 10px;
}

input[type="text"], select, textarea {
  font-family: 'catamaran-Thin';
  font-size: 22px;
  border-radius: 0;
}

input[type="text"] {
  width: 95%;
  margin:25px 0;
  padding: 10px 0;
  border-bottom: 1px solid $gray;
  @include media-min-width(mobile) {
    width: 320px;
  }
}


select {
  width: 320px;
  background-color: $blue;
  color: $black;
  padding: 10px 0;
  margin-top: 15px;
}

fieldset {
  margin: 0;
  @include media-min-width(mobile) {
    margin-top:50px;
    margin-bottom: 40px;
    *:first-child {
      margin-right: 40px;
    }
  }
}

textarea {
    display: block;
    width: 90%;
    max-width: 675px;
    padding: 20px 10px 80px;
    margin: 70px auto 0;
  border: 1px solid;
    @include media-min-width(mobile) {
      width: 100%;
    }
}

button {
  width: 200px;
  margin: 40px auto;
  padding: 15px 0;
  font-size: 18px;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;

  &:hover {
    background-color: $gray;
    color: $white;
    transition: background-color 0.6s;
  }

}
