.home {
	overflow: hidden;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $black;
}

.menu-active {
	overflow: hidden;
}

.logo {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	top: 10px;
	left:10px;
	font-size: 40px;
	text-decoration: none;
	cursor: pointer;
	color: $black;
	line-height: 50px;
	z-index: 90;
	@include media-min-width(mobile) {
		top: 20px;
		left: 20px;
	}
	@include media-min-width(tablet) {
		font-size: 50px;
		top: 30px;
		left:30px;
	}
	&::before {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

.logo--white {
	 color: $white;
}

.hidden {
	display: none;
}

.home-hero {
	display: block;
	width: 100vw;
	height: 35vh;
	color: $white;
	text-align: center;
	@include animation('show-elemet 0.7s ease-in');
	@include media-min-width(desktop) {
		position: relative;
		float: left;
		height: 100vh;
		width: 50vw;
	}
	&__item {
		position: absolute;
		width: 100%;
		top: 10%;
		@include media-min-width (desktop) {
			top: 50%;
			@include prefix(transform, translateY(-50%), webkit ms);
		}
	}

	&__title {
		font-size: 35px;
		@include media-min-width (mobile) {
			font-size: 55px;
		}
		@include media-min-width (desktop) {
			font-size: 70px;
		}
	}
	&__copy {
		font-size: 25px;
		@include media-min-width (mobile) {
			font-size: 40px;
		}
	}
	&__title,
	&__copy {
		color: $white;
		margin-bottom: 20px;
	}

}

.slider {
	display: block;
	margin: 0 auto;
	width: 90vw;
	height: 50vh;
	@include media-min-width(mobile) {
		width: 80vw;
	}
	@include media-min-width(desktop) {
		float: left;
		width: 50vw;
		height: 100vh;
	}
	.slick-container {
		@include prefix(background-size, cover, webkit ms);
		background-position: center center;
	}
}

.slick-track,
.slick-list {
	width: 100%;
	height: 100%;
}

.source {
	visibility: hidden;
}
