@import 'reset';
@import 'variables';
@import 'form';
@import 'hamburger';

html{
	height: 100%;
	width: 100%;
}

body{
	height:100%;
	width:100%;
	font-family: $oxygen;
	color: $white;
	text-align: center;
}