/** Portfolio Layout **/

header.portfolio-nav, footer.portfolio-footer, .button-background-color {
	background-color: $black;
}

.page-title {
	margin-top: 80px;
	padding-top: 50px;
	letter-spacing: 1px;
	h1{ 
		font-weight: 100;
		font-size: 70px;
	}
	p{
		max-width: 620px;
		margin: 0 auto;
		text-align: center;
		line-height: 150%;
		font-size: 50px;
	}
	h1, p {
		margin-bottom: 40px;
	}
}

.projects-list {
	margin: 50px auto;
	font-size: 70px;
	.menu-item {
		margin: 100px auto;
		a {
			font-family: 'Catamaran-Thin';
			color: $black;
			&:hover{
				color: $green;
				padding: 0 40px;
				border: 3px solid $green;
    		border-radius: 10px;
			}
		}
	}
}

.project-title {
	margin: 80px auto;
	font-size: 70px;
	font-weight: 100;
}

.row {
	font-size: 0;
	margin: 80px auto;
	overflow: hidden;
}

.portfolio-image {
	display: inline-block;
	width: 65%;
	height: 100%;
	vertical-align: middle;
	a {
	  display: block;
	  width:100%;
		filter: grayscale(100%);
		max-height: 600px;
		img {
			width: 98%;
		}
		&:hover {
			filter: grayscale(0);
		}	
	}	
}

.portfolio-text {
	display: inline-block;
	width: 35%;
	height: 100%;
	vertical-align: middle;
	ul{
		text-align: center;
		li {
			margin-bottom: 5px;
			margin-left: 10px;
			font-size: 28px;
			letter-spacing: 2px;
			line-height: 150%;
		}
	}
}

.paragraph {
	font-size:18px;
	margin: 35px auto;
	color: $silver;
}

.site-content, .title, .portfolio-text {
	color: $black;
}

.portfolio-footer {
	position: relative;
	color: $white;
	z-index: 0;
}