/** Portfolio Layout **/

header.portfolio-nav, footer.portfolio-footer, .button-background-color {
	background-color: $black;
}

.page-title {
	margin-top: 80px;
	padding-top: 50px;
	letter-spacing: 1px;
	h1{ 
		font-weight: 100;
		font-size: 70px;
	}
	p{
		max-width: 620px;
		margin: 0 auto;
		text-align: center;
		line-height: 150%;
		font-size: 50px;
	}
	h1, p {
		margin-bottom: 40px;
	}
}

.projects-list {
	margin: 50px auto;
	font-size: 70px;
	.menu-item {
		margin: 100px auto;
		a {
			font-family: 'Catamaran-Thin';
			color: $black;
			&:hover{
				color: $green;
			}
		}
	}
}

.project-title {
	margin: 60px auto;
	font-size: 70px;
	font-weight: 100;
}

.row {
	width: 90%;
	margin: 50px auto;
	overflow: hidden;
	clear: both;
	padding: 50px 0;
	border-bottom: 1px dotted #ddd;
	&:last-child {
		border-bottom: none;
		padding-bottom: 20px;
	}
}

.portfolio-text, .portfolio-image {
	display: inline-block;
	height: 100%;
	&::before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  height: 100%;
	}  
}

.portfolio-image {
	width: 65%;
	a {
		display: block;
		width:100%;
		filter: grayscale(100%);
		max-height: 600px;
		img {
			width: 98%;
			margin-bottom: 50px;
		}
	&:hover {
		filter: grayscale(0);
	}	

		
	}
	.wordpress-site {
		border: 1px solid $silver;
		width: 98%;
	}
}

.portfolio-text {
	width: 30%;
	vertical-align: center;
	
	ul{
		text-align: center;
		li {
			margin-bottom: 5px;
			margin-left: 10px;
			font-size: 28px;
			letter-spacing: 2px;
			line-height: 150%;
		}
	}
}

.paragraph {
	font-size:18px;
	margin: 35px auto;
	color: $silver;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.site-content, .title, .portfolio-text {
	color: $black;
}

.portfolio-footer {
	position: relative;
	color: $white;
	z-index: 0;
}