.project-title {

	margin-top: 50px;
	&__text {
		font-size: 50px;
		@include media-min-width(tablet) {
			font-size: 70px;
		}
	}
}

.button {
	display: block;
	width: 100%;
	margin: 20px auto;
	&__link {
		display: inline-block;
		margin: 5px 0;
		@include media-min-width(mobile) {
		    margin: 0 10px;
		}
		@include media-min-width(tablet) {
			&:hover {
				background-color: $black;
			}
		}
	    padding: 15px 5px;
	    width: 145px;
	    height: 10px;
	    color: $white;
	    line-height: 10px;
	    font-size: 22px;
	    font-family: 'Catamaran-thin';
	    background-color: $silver;

	}
}


.project-row {
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
	@include media-min-width(desktop) {
		margin-top: 60px;
		margin-bottom: 80px;
		font-size: 0;
	}
}

.project-image {
	margin: 25px auto;
	display: inline-block;
	vertical-align: middle;
	@include media-min-width(desktop) {
		width: 70%;
	}
	&__link {
	 	display: block;
	  	@include media-min-width(desktop) {
	  		padding: 0 0 0 5%;
	  	}
	}

	&__img {
		width: 100%;
		@include calc(min-height,80vw/(1200/694));
	}
}

.project-copy {
	width: 100%;
	margin: 25px auto 50px;
	display: inline-block;
	vertical-align: middle;
	@include media-min-width(desktop) {
		width: 30%;
	}
	&__list {
		text-align: center;
	}

	&__item  {
		margin-bottom: 5px;
		color: $black;
		font-size: 28px;
		letter-spacing: 5px;
		line-height: 1.8;
		@include media-min-width(tablet) {
			width: 90%;
			margin: 0 auto;
		}
	}
}
