.project-title {
	
	margin: 90px 0 15px;	
	&__text {
		font-size: 50px;
		@include media-min-width (tablet) {
			font-size: 70px;
		  margin-bottom: 40px;
		}
	}
}

.button {
	display: block;
	width: 100%;
	margin: 30px auto 50px;
	&__link {
		display: inline-block;
		margin: 5px 0;
		@include media-min-width(mobile) {
		    margin: 0 10px;
		}
		@include media-min-width(tablet) {
			&:hover {
				background-color: $black;
			}
		}
	    padding: 15px 5px;
	    width: 145px;
	    height: 10px;
	    color: $white;
	    line-height: 10px;
	    font-size: 21px;
	    font-family: 'Catamaran-thin';
	    background-color: $silver;
		
	}
}	


.project-row {
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
	@include media-min-width (desktop) {
		min-height: 55vh;
	  	padding: 4vh 0;
	  	margin-bottom: 8vh;
	  	font-size: 0;
	}
}

.project-image {
	width: 100%;
	margin: 25px auto;
	display: inline-block;
	vertical-align: middle;
	@include media-min-width (desktop) {
		width: 70%;
	}
	&__link {
	 	display: block;
	 	padding: 0 20px;
	  	@include media-min-width (desktop) {
	  		padding: 0 0 0 5%;
	  	}
	}

	&__img {
		width: 100%;
	}
}

.project-copy {
	width: 100%;
	margin: 25px auto 50px;
	display: inline-block;
	vertical-align: middle;
	@include media-min-width (desktop) {
		width: 30%;
	}
	&__list {
		text-align: center;
	}

	&__item  {
		margin-bottom: 5px;
		font-family: 'Catamaran-Thin';
		color: $black;
		font-size: 28px;
		letter-spacing: 2px;
		line-height: 150%;
		@include media-min-width(tablet) {
			width: 90%;
			margin: 0 auto;
		}
	}
}
