@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'form';
@import 'hamburger';
@import 'navigation';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'single-project';

/** General page layout**/

html, body {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%
}

body {
	@include animation('show-elemet .9s ease-in');
}

body {
	width: 100%;
	text-align: center;
}

.home {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.menu-active {
	overflow: hidden;
}

header {
	position: fixed;
	height: 60px;
	z-index: 100;
}

h1,h2,h3,a {
	font-family: 'Merrweather-Light';
}

p {
	font-family: 'Catamaran-Thin';
}


.logo {
	position: fixed;
	top: 10px;
	left:3px;
	@include media-min-width(mobile) {
		left:5px;
	}
	text-decoration: none;
	cursor: pointer;
	z-index: 90;
	&__icon {
	  	display: block;
	    font-size: 35px;
	    color: $black;
	    height: 40px;
	    line-height: 40px;
	    &::before, &::after {
	    	margin-right: 0;
	    	margin-left: 0;
	    }
	}
}

.logo--white {
	.logo__icon {
	 color: $white;
	}
}

.invisible {
	display: none;
}

.home-hero {
	@include animation('show-elemet 0.7s ease-in');
	display: block;
	width: 100vw;
	height: 40vh;
	@include media-min-width(desktop) {
		float: left;
		height: 100vh;
		width: 50vw;
	}
	background-color: $black;
	color: $white;
	text-align: center;
	&__item {
		position: absolute;
		width: 100%;
		top: 18vh;
		@include media-min-width (desktop) {
		  width: 50%;
		  top: 50%;
		  transform: translateY(-50%);
		}
	}

	&__title {
		font-size: 40px;
		@include media-min-width (mobile) {
			font-size: 55px;
		}
		@include media-min-width (desktop) {
			font-size: 70px;
		}
	}

	&__copy {
		font-size: 25px;
		@include media-min-width (mobile) {
			font-size: 40px;
		}
	}

	&__title,
	&__copy {
		font-weight: 100;
		color: $white;
		margin-bottom: 30px;
	}

}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.page-title {
	margin: 80px auto;
	letter-spacing: 5px;
	&__title {
		font-weight: 100;
		font-size: 50px;
		@include media-min-width (mobile) {
			font-size: 70px;
		  margin-bottom: 40px;
		}
	}
	&__copy{
		max-width: 620px;
		margin: 0 auto;
		text-align: center;
		line-height: 150%;
		font-size: 50px;
		margin-bottom: 40px;
	}
}

.slider-container {
	display: block;
	width: 100vw;
	height: 60vh;
	background-color: $black;
	@include media-min-width (desktop) {
		float: left;
		width: 50vw;
		height: 100vh;
	}
}

.slick-container {
	@include prefix(background-size, cover, webkit ms o );
	background-position: center center;
}


.slider {
	display: block;
	margin: 0 auto;
	width: 90vw;
	height: 50vh;
	padding-bottom: 10vh;
	@include media-min-width(mobile) {
		width: 80vw;
	}
	@include media-min-width(desktop) {
		width: 100%;
		height: 100vh;
		padding-bottom: 0;
	}
}

.slick-track, .slick-container, .slick-slide, .slick-list {
	width: 100%;
	height: 100%;
}

.source {
	visibility: hidden;
}



