//Catamaran Font

/* Catamaran Thin */
@font-face {
  font-family: 'Catamaran-Thin';
  font-style: normal;
  font-weight: 100;
  src: url('../font/Catamaran/Catamaran-Thin.ttf') format('truetype');
  font-display: swap;
}

/* Catamaran Regular */
@font-face {
  font-family: 'Catamaran-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Catamaran/Catamaran-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Catamaran SemiBold */
@font-face {
  font-family: 'Catamaran-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../font/Catamaran/Catamaran-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/*Halant*/

/* Halant Light */
@font-face {
  font-family: 'Halant-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../font/Halant/Halant-Light.ttf') format('truetype');
  font-display: swap;
}

/* Halant Regular */
@font-face {
  font-family: 'Halant-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Halant/Halant-Regular.ttf') format('truetype');
  font-display: swap;
}
