.footer {
  overflow: hidden;
  width: 100%;
  padding: 50px 0;
  background-color: $charcoal;
  clear: both;
  z-index: 55;
  &__email {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-decoration: none;
    color: $white;
    font-size: 22px;
    @include media-min-width(mobile) {
      float: left;
      margin-bottom: 0;
      padding: 0 30px;
      width: 300px;
      text-align: left;
    }
  }
  &-social {
    display: block;
    width: 100%;
    @include media-min-width(mobile) {
      float: right;
      width: 200px;
      text-align: right;
      padding-right: 30px;
    }
    &__link {
      display: inline-block;
      font-size: 0;
      color: $white;
      @include prefix(transition, color 0.6s linear, webkit ms );
      &:hover {
        color: $green;
        @include prefix(transition, color 0.6s linear, webkit ms );
      }
      &:before {
        margin: 0 10px;
        display: inline-block;
        font-size: 30px;
      }
    }
  }
}

