.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 40px 0;
  background-color: $gray;
  @include media-min-width(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__email {
    padding-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    letter-spacing: 2px;
    @include media-min-width(mobile) {
      font-size: 20px;
      padding-bottom: 40px;
    }
    @include media-min-width(desktop) {
      font-size: 22px;
      text-align: left;
      padding-bottom: 0;
      padding-left: 40px;
    }
  }
  &-social {
    &__link {
      display: inline-block;
      font-size: 0;
    }
    &__icon {
      display: inline-block;
      width: 24px;
      margin: 6px;
      fill: $white;
      @include media-min-width(mobile) {
        width: 28px;
        margin: 0 10px;
      }
      @include prefix(transition, fill 0.6s linear 0.2s, webkit ms );
      &:hover {
        fill: $green;
        @include prefix(transition, fill 0.6s linear 0.1s, webkit ms );
      }
    }
    @include media-min-width(desktop) {
      text-align: right;
      padding-right: 40px;
    }
  }
}
