.footer {
  overflow: hidden;
  width: 100%;
  padding: 50px 0;
  background-color: $gray;
  clear: both;
  z-index: 55;
  &__email {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-decoration: none;
    color: $white;
    font-size: 22px;
    @include media-min-width(mobile) {
      float: left;
      margin-bottom: 0;
      padding: 0 30px;
      width: 300px;
      text-align: left;
    }
  }
  &-social {
    display: block;
    width: 100%;
    @include media-min-width(mobile) {
      float: right;
      width: 220px;
      text-align: right;
      padding-right: 30px;
    }
    &__link {
      display: inline-block;
      font-size: 0;
    }
    &__icon {
      display: inline-block;
      width: 22px;
      margin: 5px;
      fill: $white;
      @include media-min-width(mobile) {
        width: 24px;
        margin: 0 10px;
      }
      @include media-min-width(tablet) {
        width: 28px;
      }
      @include prefix(transition, fill 0.6s linear 0.2s, webkit ms );
      &:hover {
        fill: $green;
        @include prefix(transition, fill 0.6s linear 0.1s, webkit ms );
      }
    }
  }
}

