.slider {
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  z-index: 20;
  @include media-min-width(tablet) {
    position: static;
    width: 50%;
    float: left;
  }
  &-copy {
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-family: $serif;
    color: $white;
    font-size: 30px;
    @include media-min-width(tablet) {
      font-size: 40px;
      bottom: 20px;
    }
    @include media-min-width(desktop) {
      font-size: 50px;
    }
  }
}

.slick-slide {
  height: 100vh;
  @include prefix(background-size, cover , webkit ms);
  background-position: center center;
}
