$white: #fff;
$black: #000;
$clearblack: rgba(0,0,0,0.5);
$charcoal: #393E41;
$gray: #595959;
$blue: #000033;
$darkgray: #F7F7F7;
$silver: #C0C0C0;
$lightgray: #E4E4E4;
$green: #4DCBCB;
$purple: #5C415D;
$blueish: #1789FC;
$orange: #F4442E;
$serif: 'Halant-Regular';
$sanSerif: 'Catamaran-thin';
