/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button {
  border: 0;
  background: none;
  outline: 0;
}

/* line 61, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* line 1, ../sass/form.scss */
section {
  max-width: 700px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
.form-copy {
  margin: 60px auto;
}

/* line 10, ../sass/form.scss */
input[type="text"], select {
  font-family: "Oxygen";
  font-size: 14px;
}

/* line 15, ../sass/form.scss */
input[type="text"] {
  border-bottom: 1px solid #fff;
  width: 320px;
  padding: 10px 0;
}

/* line 21, ../sass/form.scss */
select {
  width: 320px;
  background-color: #000033;
  color: #fff;
  padding: 10px 0;
  margin-top: 15px;
}

/* line 30, ../sass/form.scss */
fieldset *:first-child {
  margin-right: 40px;
}

/* line 35, ../sass/form.scss */
button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 43, ../sass/form.scss */
button:hover {
  background-color: #fff;
  color: #000033;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger--rot span::before, .c-hamburger--rot span {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/hamburger.scss */
.c-hamburger {
  display: none;
  float: right;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
/* line 27, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 30, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 32px;
  left: 12px;
  right: 15px;
  height: 5px;
  background: white;
}
/* line 38, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
/* line 47, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -12px;
}
/* line 50, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -12px;
}

/* line 56, ../sass/hamburger.scss */
.c-hamburger--rot {
  background-color: #ff3264;
}
/* line 58, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: background 0s 0.3s;
  transition-property: bottom, transform;
}
/* line 60, ../sass/hamburger.scss */
.c-hamburger--rot span::before {
  transition-property: top, transform;
}

/* active state, i.e. menu open */
/* line 70, ../sass/hamburger.scss */
.c-hamburger--rot.is-active {
  background-color: #000033;
}
/* line 72, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  background: none;
  top: 0;
  transform: rotate(45deg);
}
/* line 78, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 6, ../sass/nm1.scss */
html {
  height: 100%;
  width: 100%;
}
