/*-- CSS responsive --*/

@media screen and (max-width: 768px) { 

	.c-hamburger {
		display: block;
		z-index: 20;
	}	
	
    .wrapper{
		overflow: hidden;
    }
    header{
		height: 840px;
	}

	nav{
		visibility: hidden;
		background: white;
		position: fixed;
		background: black;
		height: 0;
		top: 0;
		opacity: 0;
		overflow: hidden;
		transition: all .5s ease-in .2s;
	}

	nav.active{
		visibility: visible;
		height: 100%;
		opacity: 1;
		transition: all .5s ease-in .2s;
	}

	nav ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	nav li {
		width:100%;
		text-align: center;
	}

	header nav li a {
		width: 100%;
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	header h1 {
    	padding-top: 40%;
	}	

	header nav ul a:hover {
		background: none;
		color:#66cccc;
		transform: scale(1.06);
		transition: all .3s ease;
	}

	#about .col{
		float:none;
	}

	#about .col {
		width: 100%;
		padding: 0;
	} 

	#about .col p{
		margin-top: 20px;
	}

	#contact .col{
		clear: both;
		float: none;
		width: 100%;
		padding: 0;
		margin: 20px 0;
	}

	#contact .col img{
		margin: 0 auto;
	}

	#contact .col label {
		text-align: center;
	}

	#contact .col .colorbox {
		float:none;
		margin: 0 auto;
	}

	#contact form{
		width: 90%;
   		margin: 0 auto;
   		padding-top: 50px;
	}
}


@media screen and (max-width: 640px) { 

	.active-menu{
		background-color: #181818;
	}
}

@media screen and (max-width: 480px) { 

	header.container, header{
		height: 650px;
	}

	header nav, .col ,#about .col,#work .col img, #about .col, #about .col img, #contact .col  {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;

	}

	#portfolio .col img {
    width: 90%;
    border: 2px solid #0086b3;
    height: auto;
    margin: 0 auto;
}

	#about .col img{ 
		width: 94%;
	}

	#about .col p {
		margin-top: 1%;
	}

	#contact .social i{
		font-size: 20px;
	}

	#contact-slider {
    z-index: -1;
    width: 90%;
    margin: 0 auto;
	}

}
