/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 41, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button,
textarea {
  border: 0;
  background: none;
  outline: 0;
  resize: none;
}

/* line 67, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* Catamaran Thin */
@font-face {
  font-family: 'Catamaran-Thin';
  font-style: normal;
  font-weight: 100;
  src: url("/src/font/Catamaran/Catamaran-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran Regular */
@font-face {
  font-family: 'Catamaran-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Catamaran/Catamaran-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran SemiBold */
@font-face {
  font-family: 'Catamaran-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("/src/font/Catamaran/Catamaran-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Light */
@font-face {
  font-family: 'Merriweather-Light';
  font-style: normal;
  font-weight: 300;
  src: url("src/font/Merriweather/Merriweather-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Extra Regular */
@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("src/font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* OMerriweather  Bold */
@font-face {
  font-family: 'Merriweather-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("src/font/Merriweather/Merriweather-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* line 1, ../sass/form.scss */
section {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
#contact-form {
  padding: 25px 15px 25px 10px;
}

/* line 10, ../sass/form.scss */
input[type="text"], select, textarea {
  font-family: 'catamaran-Thin';
  font-size: 22px;
  border-radius: 0;
}

/* line 16, ../sass/form.scss */
input[type="text"] {
  padding: 10px 0;
  border-bottom: 1px solid #595959;
}
@media (min-width: 601px) {
  /* line 16, ../sass/form.scss */
  input[type="text"] {
    width: 320px;
  }
}
@media (max-width: 600px) {
  /* line 16, ../sass/form.scss */
  input[type="text"] {
    width: 95%;
    margin: 25px 0;
  }
}

/* line 29, ../sass/form.scss */
select {
  width: 320px;
  background-color: #000033;
  color: #000;
  padding: 10px 0;
  margin-top: 15px;
}

@media (min-width: 601px) {
  /* line 37, ../sass/form.scss */
  fieldset {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  /* line 41, ../sass/form.scss */
  fieldset *:first-child {
    margin-right: 40px;
  }
}
@media (max-width: 600px) {
  /* line 37, ../sass/form.scss */
  fieldset {
    margin: 0;
  }
}

/* line 53, ../sass/form.scss */
textarea {
  display: block;
  border: 1px solid;
  padding: 20px 10px 80px;
  margin: 70px auto 0;
  max-width: 675px;
}
@media (max-width: 600px) {
  /* line 53, ../sass/form.scss */
  textarea {
    width: 90%;
  }
}
@media (min-width: 601px) {
  /* line 53, ../sass/form.scss */
  textarea {
    width: 100%;
  }
}

/* line 67, ../sass/form.scss */
button {
  width: 200px;
  margin: 40px auto;
  padding: 15px 0;
  font-size: 18px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
}
/* line 76, ../sass/form.scss */
button:hover {
  background-color: #595959;
  color: #fff;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger--rot span::before, .c-hamburger--rot span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/hamburger.scss */
.c-hamburger {
  display: block;
  position: fixed;
  top: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  z-index: 100;
  transition: background 0.3s;
}
@media (min-width: 601px) {
  /* line 10, ../sass/hamburger.scss */
  .c-hamburger {
    right: 15px;
  }
}
@media (max-width: 600px) {
  /* line 10, ../sass/hamburger.scss */
  .c-hamburger {
    right: 5px;
  }
}
/* line 36, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 40, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 4px;
  right: 4px;
  height: 2px;
  background: #000;
}
/* line 48, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
}
/* line 57, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -11px;
}
/* line 60, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -11px;
}
/* line 68, ../sass/hamburger.scss */
.c-hamburger.white-burger span {
  background: #fff;
}
/* line 71, ../sass/hamburger.scss */
.c-hamburger.white-burger span::before, .c-hamburger.white-burger span::after {
  background: #fff;
}

/* line 81, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: all 0.6s;
}
/* line 85, ../sass/hamburger.scss */
.c-hamburger--rot span::before {
  transition-property: top, transform;
}
/* line 89, ../sass/hamburger.scss */
.c-hamburger--rot span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 96, ../sass/hamburger.scss */
.c-hamburger--rot.is-active {
  background-color: #fff;
}
/* line 98, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  background-color: #fff;
}
/* line 100, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  background-color: #000;
}
/* line 103, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
/* line 108, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 2, ../sass/navigation.scss */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  z-index: 52;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -ms-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -o-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  transition: all 0.7s ease-in-out;
}
/* line 13, ../sass/navigation.scss */
.menu.menu-active {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
@media (min-width: 981px) {
  /* line 13, ../sass/navigation.scss */
  .menu.menu-active {
    width: 30%;
  }
}
@media (max-width: 980px) {
  /* line 13, ../sass/navigation.scss */
  .menu.menu-active {
    width: 100%;
  }
}
/* line 23, ../sass/navigation.scss */
.menu.menu-active-home {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
@media (min-width: 981px) {
  /* line 23, ../sass/navigation.scss */
  .menu.menu-active-home {
    width: 50%;
  }
}
@media (max-width: 980px) {
  /* line 23, ../sass/navigation.scss */
  .menu.menu-active-home {
    width: 100%;
  }
}

/* line 36, ../sass/navigation.scss */
.menu__list {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

/* line 46, ../sass/navigation.scss */
#currentpage .menu__link {
  font-weight: 600;
  color: #4fb584;
}
@media (max-width: 600px) {
  /* line 46, ../sass/navigation.scss */
  #currentpage .menu__link {
    font-size: 42px;
  }
}
@media (min-width: 601px) {
  /* line 46, ../sass/navigation.scss */
  #currentpage .menu__link {
    font-size: 60px;
  }
}
/* line 55, ../sass/navigation.scss */
#currentpage .menu__link.home-page-a {
  color: #4fb584;
}

/* line 61, ../sass/navigation.scss */
.menu__item {
  margin-bottom: 30px;
}

/* line 66, ../sass/navigation.scss */
.menu__link {
  color: #000;
  letter-spacing: 4px;
}
@media (max-width: 600px) {
  /* line 66, ../sass/navigation.scss */
  .menu__link {
    font-size: 42px;
  }
}
@media (min-width: 601px) {
  /* line 66, ../sass/navigation.scss */
  .menu__link {
    font-size: 60px;
  }
}
/* line 75, ../sass/navigation.scss */
.menu__link:hover, .menu__link:active {
  color: #4fb584;
}
/* line 78, ../sass/navigation.scss */
.menu__link.menu__link-homepage {
  color: #4fb584;
}
/* line 80, ../sass/navigation.scss */
.menu__link.menu__link-homepage:hover, .menu__link.menu__link-homepage:active {
  color: #000;
}

/** projects Layout **/
@media (min-width: 769px) {
  /* line 3, ../sass/projects.scss */
  .projects {
    padding: 30px 0;
  }
}
@media (max-width: 600px) {
  /* line 3, ../sass/projects.scss */
  .projects {
    padding-bottom: 0;
  }
}

/* line 11, ../sass/projects.scss */
.projects__item {
  margin: 90px auto;
  font-size: 0;
}
@media (min-width: 769px) {
  /* line 15, ../sass/projects.scss */
  .projects__item:first-child {
    margin-top: 10px;
  }
}

/* line 20, ../sass/projects.scss */
.projects__link {
  display: inline-block;
  font-family: 'Catamaran-Thin';
  color: #000;
}
@media (max-width: 600px) {
  /* line 20, ../sass/projects.scss */
  .projects__link {
    font-size: 42px;
  }
}
@media (min-width: 601px) {
  /* line 20, ../sass/projects.scss */
  .projects__link {
    font-size: 70px;
  }
}
@media (min-width: 769px) {
  /* line 31, ../sass/projects.scss */
  .projects__link:hover {
    color: #4fb584;
  }
}
@media (min-width: 769px) {
  /* line 36, ../sass/projects.scss */
  .projects__link:hover {
    color: #4fb584;
  }
  /* line 38, ../sass/projects.scss */
  .projects__link:hover .projects__icon {
    font-size: 25px;
    color: #4fb584;
    visibility: visible;
    padding-left: 10px;
    transition: all .4s ease-in;
  }
}

/* line 49, ../sass/projects.scss */
.projects__icon {
  display: inline-block;
  width: 0;
  font-size: 10px;
  color: #4fb584;
  vertical-align: middle;
  padding-left: 0;
  visibility: hidden;
  transition: all .1s ease-in;
}

/* line 60, ../sass/projects.scss */
.projects_copy {
  min-height: 5vh;
  margin: 35px auto;
  padding: 30px;
  font-size: 18px;
  color: #C0C0C0;
}

/** About section**/
/* line 3, ../sass/about.scss */
.photo {
  height: 350px;
  overflow: hidden;
}
@media (min-width: 601px) {
  /* line 3, ../sass/about.scss */
  .photo {
    margin: 30px auto;
    width: 350px;
  }
}
@media (max-width: 600px) {
  /* line 3, ../sass/about.scss */
  .photo {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 16, ../sass/about.scss */
.photo_image {
  text-decoration: underline;
}

/* line 20, ../sass/about.scss */
.about-content {
  min-height: 32vh;
  margin: 40px auto;
  padding: 30px 0 40px;
}

/* line 25, ../sass/about.scss */
.about-content__copy {
  max-width: 720px;
  margin: 60px auto;
  letter-spacing: 1.5px;
  line-height: 150%;
  font-size: 20px;
  font-weight: 100;
}
@media (max-width: 980px) {
  /* line 25, ../sass/about.scss */
  .about-content__copy {
    padding: 0 25px;
  }
}
@media (min-width: 981px) {
  /* line 25, ../sass/about.scss */
  .about-content__copy {
    padding: 0 60px;
  }
}

/* line 40, ../sass/about.scss */
.about-content__link {
  color: #000;
}

/** Contact Page**/
/* line 2, ../sass/contact.scss */
#contact-form {
  position: relative;
  z-index: 10;
}

/* line 7, ../sass/contact.scss */
.contact-hero {
  background: url("/src/images/macbook.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 55vh;
  background-color: #000;
  overflow: hidden;
}

/* line 20, ../sass/contact.scss */
.contact-form-container {
  margin: 20px 0;
}

/* line 24, ../sass/contact.scss */
.contact-message {
  position: absolute;
  visibility: hidden;
  opacity: 0.9;
  margin: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 35, ../sass/contact.scss */
.contact-message__message {
  font-size: 25px;
  padding: 50px 30px;
  color: #fff;
  background: #C0C0C0;
  letter-spacing: 3px;
  border: 1px solid #000;
  -webkit-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -ms-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -o-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
}
/* line 43, ../sass/contact.scss */
.contact-message__message.contact-message--visible {
  visibility: visible;
}

/* line 1, ../sass/footer.scss */
.footer-site {
  width: 100%;
  background-color: #000;
  clear: both;
  overflow: hidden;
  z-index: 55;
}
@media (min-width: 769px) {
  /* line 1, ../sass/footer.scss */
  .footer-site {
    padding: 90px 0;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/footer.scss */
  .footer-site {
    padding: 40px 0;
  }
}

@media (min-width: 601px) {
  /* line 15, ../sass/footer.scss */
  .footer-site__email {
    float: left;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  /* line 15, ../sass/footer.scss */
  .footer-site__email {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}

/* line 27, ../sass/footer.scss */
.footer-site__link {
  color: #fff;
  font-size: 18px;
}
/* line 30, ../sass/footer.scss */
.footer-site__link:hover {
  color: #4fb584;
}
/* line 33, ../sass/footer.scss */
.footer-site__link span {
  font-size: 60%;
}

@media (min-width: 601px) {
  /* line 38, ../sass/footer.scss */
  .footer-site__social {
    float: right;
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  /* line 38, ../sass/footer.scss */
  .footer-site__social {
    display: block;
    width: 100%;
  }
}

/* line 49, ../sass/footer.scss */
.footer-site__link {
  display: inline-block;
}
@media (min-width: 601px) {
  /* line 49, ../sass/footer.scss */
  .footer-site__link {
    margin-left: 20px;
  }
}

/* line 56, ../sass/footer.scss */
.footer-site__icon {
  display: block;
  font-size: 25px;
  color: #fff;
}
/* line 60, ../sass/footer.scss */
.footer-site__icon:hover {
  color: #4fb584;
  border-bottom: none;
}
/* line 64, ../sass/footer.scss */
.footer-site__icon.footer-site__icon--dark {
  color: #000;
}

/* line 1, ../sass/single-project.scss */
.project-title {
  margin: 90px 0 15px;
}

@media (min-width: 769px) {
  /* line 6, ../sass/single-project.scss */
  .project-title__text {
    font-size: 70px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  /* line 6, ../sass/single-project.scss */
  .project-title__text {
    font-size: 50px;
  }
}

/* line 16, ../sass/single-project.scss */
.button {
  display: block;
  width: 100%;
  margin: 30px auto 50px;
}

/* line 22, ../sass/single-project.scss */
.button__link {
  display: inline-block;
  padding: 10px;
  width: 120px;
  height: 10px;
  color: #fff;
  line-height: 10px;
  font-size: 18px;
  font-family: 'Catamaran-Thin';
  font-weight: 100;
  background-color: #C0C0C0;
}
@media (max-width: 600px) {
  /* line 22, ../sass/single-project.scss */
  .button__link {
    margin: 5px 0;
  }
}
@media (min-width: 601px) {
  /* line 22, ../sass/single-project.scss */
  .button__link {
    margin: 0 10px;
  }
}
@media (min-width: 769px) {
  /* line 31, ../sass/single-project.scss */
  .button__link:hover {
    background-color: #000;
  }
}

@media (min-width: 981px) {
  /* line 47, ../sass/single-project.scss */
  .project-row {
    min-height: 55vh;
    padding: 4vh 0;
    margin-bottom: 8vh;
    font-size: 0;
  }
}
@media (max-width: 980px) {
  /* line 47, ../sass/single-project.scss */
  .project-row {
    overflow: hidden;
    clear: both;
    margin: 0;
    padding: 0;
  }
}

/* line 62, ../sass/single-project.scss */
.project-image {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 981px) {
  /* line 62, ../sass/single-project.scss */
  .project-image {
    width: 70%;
  }
}
@media (max-width: 980px) {
  /* line 62, ../sass/single-project.scss */
  .project-image {
    width: 100%;
    margin: 25px auto;
  }
}

/* line 74, ../sass/single-project.scss */
.project-image__link {
  display: block;
}
@media (min-width: 981px) {
  /* line 74, ../sass/single-project.scss */
  .project-image__link {
    padding: 0 0 0 5%;
  }
}
@media (max-width: 980px) {
  /* line 74, ../sass/single-project.scss */
  .project-image__link {
    padding: 0 20px;
  }
}

/* line 84, ../sass/single-project.scss */
.project-image__img {
  width: 100%;
}

/* line 88, ../sass/single-project.scss */
.project-copy {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 981px) {
  /* line 88, ../sass/single-project.scss */
  .project-copy {
    width: 30%;
  }
}
@media (max-width: 980px) {
  /* line 88, ../sass/single-project.scss */
  .project-copy {
    width: 100%;
    margin: 25px auto 50px;
  }
}

/* line 100, ../sass/single-project.scss */
.project-copy__list {
  text-align: center;
}

/* line 104, ../sass/single-project.scss */
.project-copy__item {
  font-family: 'Catamaran-Thin';
  color: #000;
  margin-bottom: 5px;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 150%;
}
@media (min-width: 769px) {
  /* line 104, ../sass/single-project.scss */
  .project-copy__item {
    width: 90%;
    margin: 0 auto;
  }
}

/** General page layout**/
/* line 16, ../sass/styles.scss */
html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 23, ../sass/styles.scss */
body {
  -webkit-animation: show-elemet .9s ease-in;
  -moz-animation: show-elemet .9s ease-in;
  -ms-animation: show-elemet .9s ease-in;
  -o-animation: show-elemet .9s ease-in;
  animation: show-elemet .9s ease-in;
}

/* line 27, ../sass/styles.scss */
body {
  width: 100%;
  text-align: center;
}

/* line 32, ../sass/styles.scss */
.home {
  position: absolute;
  background-color: #000;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 42, ../sass/styles.scss */
.menu-active {
  overflow: hidden;
}

/* line 46, ../sass/styles.scss */
header {
  position: fixed;
  height: 60px;
  z-index: 100;
}

/* line 52, ../sass/styles.scss */
h1, h2, h3, a {
  font-family: 'Merrweather-Light';
}

/* line 56, ../sass/styles.scss */
p {
  font-family: 'Catamaran-Thin';
}

/* line 61, ../sass/styles.scss */
.logo {
  position: fixed;
  top: 10px;
  text-decoration: none;
  z-index: 90;
}
@media (min-width: 601px) {
  /* line 61, ../sass/styles.scss */
  .logo {
    left: 5px;
  }
}
@media (max-width: 600px) {
  /* line 61, ../sass/styles.scss */
  .logo {
    left: 3px;
  }
}
/* line 73, ../sass/styles.scss */
.logo.logo--white .logo__icon {
  color: #fff;
}

/* line 79, ../sass/styles.scss */
.logo__icon {
  display: block;
  font-size: 35px;
  color: #000;
  height: 40px;
  line-height: 40px;
}
/* line 85, ../sass/styles.scss */
.logo__icon::before, .logo__icon::after {
  margin-right: 0;
  margin-left: 0;
}

/* line 91, ../sass/styles.scss */
.invisible {
  display: none;
}

/* line 95, ../sass/styles.scss */
.home-hero {
  -webkit-animation: show-elemet 0.7s ease-in;
  -moz-animation: show-elemet 0.7s ease-in;
  -ms-animation: show-elemet 0.7s ease-in;
  -o-animation: show-elemet 0.7s ease-in;
  animation: show-elemet 0.7s ease-in;
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
}
@media (max-width: 980px) {
  /* line 95, ../sass/styles.scss */
  .home-hero {
    width: 100vw;
    height: 45vh;
  }
}
@media (min-width: 981px) {
  /* line 95, ../sass/styles.scss */
  .home-hero {
    float: left;
    height: 100vh;
    width: 50vw;
  }
}

/* line 112, ../sass/styles.scss */
.home-hero__item {
  position: absolute;
}
@media (min-width: 981px) {
  /* line 112, ../sass/styles.scss */
  .home-hero__item {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 980px) {
  /* line 112, ../sass/styles.scss */
  .home-hero__item {
    width: 100%;
    top: 18vh;
  }
}

@media (max-width: 980px) {
  /* line 125, ../sass/styles.scss */
  .home-hero__title {
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  /* line 125, ../sass/styles.scss */
  .home-hero__title {
    font-size: 32px;
  }
}
@media (min-width: 981px) {
  /* line 125, ../sass/styles.scss */
  .home-hero__title {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  /* line 137, ../sass/styles.scss */
  .home-hero__copy {
    font-size: 25px;
  }
}
@media (min-width: 601px) {
  /* line 137, ../sass/styles.scss */
  .home-hero__copy {
    font-size: 40px;
  }
}

/* line 146, ../sass/styles.scss */
.home-hero__title,
.home-hero__copy {
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}

/* line 153, ../sass/styles.scss */
.slider-container {
  display: block;
  background-color: #000;
}
@media (min-width: 981px) {
  /* line 153, ../sass/styles.scss */
  .slider-container {
    float: left;
    width: 50vw;
    height: 100vh;
  }
}
@media (max-width: 980px) {
  /* line 153, ../sass/styles.scss */
  .slider-container {
    width: 100vw;
    height: 55vh;
  }
}

/* line 167, ../sass/styles.scss */
.slick-container {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  filter: grayscale(50%);
}
/* line 171, ../sass/styles.scss */
.slick-container img {
  visibility: hidden;
}

/* line 176, ../sass/styles.scss */
.slider {
  display: block;
  margin: 0 auto;
}
@media (max-width: 980px) {
  /* line 176, ../sass/styles.scss */
  .slider {
    width: 90vw;
    height: 45vh;
  }
}
@media (min-width: 981px) {
  /* line 176, ../sass/styles.scss */
  .slider {
    float: left;
    width: 100vw;
    height: 100vh;
  }
}

/* line 190, ../sass/styles.scss */
.slick-track, .slick-container, .slick-slide, .slick-list {
  width: 100%;
  height: 100%;
}

/* line 195, ../sass/styles.scss */
.slick-slide {
  height: 100%;
}

/* line 199, ../sass/styles.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* line 206, ../sass/styles.scss */
.page-title {
  margin: 80px auto;
  letter-spacing: 5px;
}

/* line 211, ../sass/styles.scss */
.page-title__title {
  font-weight: 100;
}
@media (min-width: 601px) {
  /* line 211, ../sass/styles.scss */
  .page-title__title {
    font-size: 70px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  /* line 211, ../sass/styles.scss */
  .page-title__title {
    font-size: 50px;
  }
}

/* line 222, ../sass/styles.scss */
.page-title__copy {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  font-size: 50px;
  margin-bottom: 40px;
}
