/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 41, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button,
textarea {
  border: 0;
  background: none;
  outline: 0;
  resize: none;
}

/* line 67, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* Catamaran Thin */
@font-face {
  font-family: 'Catamaran-Thin';
  font-style: normal;
  font-weight: 100;
  src: url("/src/font/Catamaran/Catamaran-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran Regular */
@font-face {
  font-family: 'Catamaran-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Catamaran/Catamaran-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran SemiBold */
@font-face {
  font-family: 'Catamaran-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("/src/font/Catamaran/Catamaran-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Light */
@font-face {
  font-family: 'Merriweather-Light';
  font-style: normal;
  font-weight: 300;
  src: url("src/font/Merriweather/Merriweather-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Extra Regular */
@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("src/font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* OMerriweather  Bold */
@font-face {
  font-family: 'Merriweather-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("src/font/Merriweather/Merriweather-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* line 1, ../sass/form.scss */
section {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
#contact-form {
  padding: 25px 15px 25px 10px;
}

/* line 10, ../sass/form.scss */
input[type="text"], select, textarea {
  font-family: "Catamaran-thin";
  font-size: 22px;
  border-radius: 0;
}

/* line 16, ../sass/form.scss */
input[type="text"] {
  width: 95%;
  margin: 25px 0;
  padding: 10px 0;
  border-bottom: 1px solid #595959;
}
@media (min-width: 601px) {
  /* line 16, ../sass/form.scss */
  input[type="text"] {
    max-width: 320px;
    width: 45%;
  }
}

/* line 28, ../sass/form.scss */
select {
  width: 320px;
  background-color: #000033;
  color: #000;
  padding: 10px 0;
  margin-top: 15px;
}

/* line 36, ../sass/form.scss */
fieldset {
  margin: 0;
}
@media (min-width: 601px) {
  /* line 36, ../sass/form.scss */
  fieldset {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  /* line 41, ../sass/form.scss */
  fieldset *:first-child {
    margin-right: 40px;
  }
}

/* line 47, ../sass/form.scss */
textarea {
  display: block;
  width: 90%;
  max-width: 675px;
  padding: 20px 10px 80px;
  margin: 70px auto 0;
  border: 1px solid;
}
@media (min-width: 601px) {
  /* line 47, ../sass/form.scss */
  textarea {
    width: 100%;
  }
}

/* line 59, ../sass/form.scss */
button {
  width: 200px;
  margin: 40px auto;
  padding: 15px 0;
  font-size: 18px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
}
/* line 68, ../sass/form.scss */
button:hover {
  background-color: #595959;
  color: #fff;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger--rot span::before, .c-hamburger--rot span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/hamburger.scss */
.c-hamburger {
  display: block;
  position: fixed;
  top: 10px;
  right: 5px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  z-index: 100;
  transition: background 0.3s;
}
@media (min-width: 601px) {
  /* line 10, ../sass/hamburger.scss */
  .c-hamburger {
    right: 15px;
  }
}
/* line 34, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 38, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 4px;
  right: 4px;
  height: 2px;
  background: #000;
}
/* line 46, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
}
/* line 55, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -11px;
}
/* line 58, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -11px;
}
/* line 64, ../sass/hamburger.scss */
.c-hamburger.white-burger span {
  background: #fff;
}
/* line 66, ../sass/hamburger.scss */
.c-hamburger.white-burger span::before, .c-hamburger.white-burger span::after {
  background: #fff;
}

/* line 74, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: all 0.6s;
}
/* line 78, ../sass/hamburger.scss */
.c-hamburger--rot span::before {
  transition-property: top, transform;
}
/* line 82, ../sass/hamburger.scss */
.c-hamburger--rot span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 89, ../sass/hamburger.scss */
.c-hamburger--rot.is-active {
  background-color: #fff;
}
/* line 91, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  background-color: #fff;
}
/* line 93, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  background-color: #000;
}
/* line 96, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
/* line 101, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 1, ../sass/navigation.scss */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  z-index: 52;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -ms-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -o-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  transition: all 0.7s ease-in-out;
}
/* line 12, ../sass/navigation.scss */
.menu.menu-active {
  width: 100%;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
@media (min-width: 981px) {
  /* line 12, ../sass/navigation.scss */
  .menu.menu-active {
    width: 30%;
  }
}
/* line 20, ../sass/navigation.scss */
.menu.menu-active-home {
  width: 100%;
  transition: all 0.6s ease-in-out;
  opacity: 1;
}
@media (min-width: 981px) {
  /* line 20, ../sass/navigation.scss */
  .menu.menu-active-home {
    width: 50%;
  }
}
/* line 28, ../sass/navigation.scss */
.menu__list {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* line 37, ../sass/navigation.scss */
.menu__item {
  margin-bottom: 30px;
}
/* line 42, ../sass/navigation.scss */
.menu__link {
  color: #000;
  font-size: 48px;
  letter-spacing: 4px;
}
@media (min-width: 601px) {
  /* line 42, ../sass/navigation.scss */
  .menu__link {
    font-size: 60px;
  }
}
/* line 49, ../sass/navigation.scss */
.menu__link:hover, .menu__link:active {
  color: #4fb584;
  font-weight: 600;
}

/* line 57, ../sass/navigation.scss */
#currentpage .menu__link {
  font-size: 42px;
  font-weight: 600;
  color: #4fb584;
}
@media (min-width: 601px) {
  /* line 57, ../sass/navigation.scss */
  #currentpage .menu__link {
    font-size: 60px;
  }
}

/* line 1, ../sass/home.scss */
.home {
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

/* line 11, ../sass/home.scss */
.menu-active {
  overflow: hidden;
}

/* line 15, ../sass/home.scss */
.logo {
  position: fixed;
  top: 10px;
  left: 3px;
  z-index: 90;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 601px) {
  /* line 15, ../sass/home.scss */
  .logo {
    left: 5px;
  }
}
/* line 25, ../sass/home.scss */
.logo__icon {
  display: block;
  font-size: 35px;
  color: #000;
  height: 40px;
  line-height: 40px;
}
/* line 31, ../sass/home.scss */
.logo__icon::before, .logo__icon::after {
  margin-right: 0;
  margin-left: 0;
}

/* line 39, ../sass/home.scss */
.logo--white .logo__icon {
  color: #fff;
}

/* line 44, ../sass/home.scss */
.hidden {
  display: none;
}

/* line 48, ../sass/home.scss */
.home-hero {
  display: block;
  width: 100vw;
  height: 40vh;
  color: #fff;
  text-align: center;
  -webkit-animation: show-elemet 0.7s ease-in;
  -moz-animation: show-elemet 0.7s ease-in;
  -ms-animation: show-elemet 0.7s ease-in;
  -o-animation: show-elemet 0.7s ease-in;
  animation: show-elemet 0.7s ease-in;
}
@media (min-width: 981px) {
  /* line 48, ../sass/home.scss */
  .home-hero {
    float: left;
    height: 100vh;
    width: 50vw;
  }
}
/* line 60, ../sass/home.scss */
.home-hero__item {
  position: absolute;
  width: 100%;
  top: 10%;
}
@media (min-width: 981px) {
  /* line 60, ../sass/home.scss */
  .home-hero__item {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
/* line 71, ../sass/home.scss */
.home-hero__title {
  font-size: 35px;
}
@media (min-width: 601px) {
  /* line 71, ../sass/home.scss */
  .home-hero__title {
    font-size: 55px;
  }
}
@media (min-width: 981px) {
  /* line 71, ../sass/home.scss */
  .home-hero__title {
    font-size: 70px;
  }
}
/* line 81, ../sass/home.scss */
.home-hero__copy {
  font-size: 25px;
}
@media (min-width: 601px) {
  /* line 81, ../sass/home.scss */
  .home-hero__copy {
    font-size: 40px;
  }
}
/* line 88, ../sass/home.scss */
.home-hero__title, .home-hero__copy {
  color: #fff;
  margin-bottom: 20px;
}

/* line 96, ../sass/home.scss */
.slider {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 50vh;
}
@media (min-width: 601px) {
  /* line 96, ../sass/home.scss */
  .slider {
    width: 80vw;
  }
}
@media (min-width: 981px) {
  /* line 96, ../sass/home.scss */
  .slider {
    float: left;
    width: 50vw;
    height: 100vh;
  }
}
/* line 109, ../sass/home.scss */
.slider .slick-container {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* line 115, ../sass/home.scss */
.slick-track,
.slick-list {
  width: 100%;
  height: 100%;
}

/* line 121, ../sass/home.scss */
.source {
  visibility: hidden;
}

/** projects Layout **/
@media (min-width: 769px) {
  /* line 3, ../sass/projects.scss */
  .projects {
    padding: 30px 0;
  }
}
/* line 8, ../sass/projects.scss */
.projects__item {
  margin: 30px auto;
}
@media (min-width: 769px) {
  /* line 8, ../sass/projects.scss */
  .projects__item {
    margin: 90px auto;
  }
  /* line 12, ../sass/projects.scss */
  .projects__item:first-child {
    margin-top: 10px;
  }
}
/* line 18, ../sass/projects.scss */
.projects__link {
  display: inline-block;
  color: #000;
  font-family: "Catamaran-thin";
  font-size: 30px;
}
@media (min-width: 601px) {
  /* line 18, ../sass/projects.scss */
  .projects__link {
    font-size: 70px;
  }
}
@media (min-width: 769px) {
  /* line 27, ../sass/projects.scss */
  .projects__link:hover {
    color: #4fb584;
  }
  /* line 29, ../sass/projects.scss */
  .projects__link:hover .projects__icon {
    font-size: 25px;
    color: #4fb584;
    visibility: visible;
    padding-left: 10px;
    transition: all .4s ease-in;
  }
}
/* line 40, ../sass/projects.scss */
.projects__icon {
  visibility: hidden;
  display: inline-block;
  width: 0;
  padding-left: 0;
  font-size: 10px;
  color: #4fb584;
  vertical-align: middle;
  transition: all .1s ease-in;
}
/* line 51, ../sass/projects.scss */
.projects__copy {
  margin: 35px auto;
  padding: 30px;
  font-size: 18px;
  color: #C0C0C0;
}

/* line 1, ../sass/about.scss */
.photo {
  overflow: hidden;
  margin: 0 auto;
  max-height: 300px;
}
@media (min-width: 601px) {
  /* line 1, ../sass/about.scss */
  .photo {
    max-height: 450px;
  }
}
/* line 8, ../sass/about.scss */
.photo__image {
  margin: 10px auto;
  min-height: -webkit-calc(36.66667vw);
  min-height: -moz-calc(36.66667vw);
  min-height: calc(36.66667vw);
}

/* line 14, ../sass/about.scss */
.about-content {
  padding: 30px 0 40px;
}
/* line 16, ../sass/about.scss */
.about-content__copy {
  max-width: 720px;
  margin: 60px auto;
  padding: 0 25px;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 1.8;
}
/* line 26, ../sass/about.scss */
.about-content__link {
  color: #000;
  text-decoration: underline;
}

/* line 2, ../sass/contact.scss */
.contact-hero {
  background: url("/src/images/contact/macbook.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-calc(57.83333vw);
  min-height: -moz-calc(57.83333vw);
  min-height: calc(57.83333vw);
}

/* line 8, ../sass/contact.scss */
#contact-form {
  position: relative;
  z-index: 10;
}

/* line 13, ../sass/contact.scss */
.contact-form-container {
  margin: 20px 0;
}

/* line 17, ../sass/contact.scss */
.success {
  visibility: hidden;
  position: absolute;
  opacity: 0.9;
  margin: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 26, ../sass/contact.scss */
.success__message {
  font-size: 25px;
  padding: 50px 30px;
  color: #fff;
  background: #C0C0C0;
  letter-spacing: 3px;
  border: 1px solid #000;
  -webkit-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -ms-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -o-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.33);
}
/* line 34, ../sass/contact.scss */
.success__message.success-message--visible {
  visibility: visible;
}

/* line 1, ../sass/footer.scss */
.footer {
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background-color: #000;
  clear: both;
  z-index: 55;
}
/* line 8, ../sass/footer.scss */
.footer__email {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
@media (min-width: 601px) {
  /* line 8, ../sass/footer.scss */
  .footer__email {
    float: left;
    margin-bottom: 0;
    padding: 0 30px;
    width: 300px;
    text-align: left;
  }
}
/* line 23, ../sass/footer.scss */
.footer-social {
  display: block;
  width: 100%;
}
@media (min-width: 601px) {
  /* line 23, ../sass/footer.scss */
  .footer-social {
    float: right;
    width: 200px;
    text-align: right;
    padding-right: 30px;
  }
}
/* line 32, ../sass/footer.scss */
.footer-social__link {
  display: inline-block;
  margin: 0 10px;
}
/* line 36, ../sass/footer.scss */
.footer-social__icon {
  display: block;
  font-size: 30px;
  color: #fff;
}
/* line 40, ../sass/footer.scss */
.footer-social__icon:hover {
  color: #4fb584;
}

/* line 1, ../sass/single-project.scss */
.project-title {
  margin-top: 50px;
}
/* line 4, ../sass/single-project.scss */
.project-title__text {
  font-size: 50px;
}
@media (min-width: 769px) {
  /* line 4, ../sass/single-project.scss */
  .project-title__text {
    font-size: 70px;
  }
}

/* line 12, ../sass/single-project.scss */
.button {
  display: block;
  width: 100%;
  margin: 20px auto;
}
/* line 16, ../sass/single-project.scss */
.button__link {
  display: inline-block;
  margin: 5px 0;
  padding: 15px 5px;
  width: 145px;
  height: 10px;
  color: #fff;
  line-height: 10px;
  font-size: 22px;
  font-family: 'Catamaran-thin';
  background-color: #C0C0C0;
}
@media (min-width: 601px) {
  /* line 16, ../sass/single-project.scss */
  .button__link {
    margin: 0 10px;
  }
}
@media (min-width: 769px) {
  /* line 23, ../sass/single-project.scss */
  .button__link:hover {
    background-color: #000;
  }
}

/* line 40, ../sass/single-project.scss */
.project-row {
  overflow: hidden;
  clear: both;
  margin: 0;
  padding: 0;
}
@media (min-width: 981px) {
  /* line 40, ../sass/single-project.scss */
  .project-row {
    margin-bottom: 80px;
    font-size: 0;
  }
}

/* line 51, ../sass/single-project.scss */
.project-image {
  margin: 25px auto;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 981px) {
  /* line 51, ../sass/single-project.scss */
  .project-image {
    width: 70%;
  }
}
/* line 58, ../sass/single-project.scss */
.project-image__link {
  display: block;
  padding: 0 20px;
}
@media (min-width: 981px) {
  /* line 58, ../sass/single-project.scss */
  .project-image__link {
    padding: 0 0 0 5%;
  }
}
/* line 66, ../sass/single-project.scss */
.project-image__img {
  width: 100%;
  min-height: -webkit-calc(57.83333vw);
  min-height: -moz-calc(57.83333vw);
  min-height: calc(57.83333vw);
}

/* line 72, ../sass/single-project.scss */
.project-copy {
  width: 100%;
  margin: 25px auto 50px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 981px) {
  /* line 72, ../sass/single-project.scss */
  .project-copy {
    width: 30%;
  }
}
/* line 80, ../sass/single-project.scss */
.project-copy__list {
  text-align: center;
}
/* line 84, ../sass/single-project.scss */
.project-copy__item {
  margin-bottom: 5px;
  color: #000;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 1.8;
}
@media (min-width: 769px) {
  /* line 84, ../sass/single-project.scss */
  .project-copy__item {
    width: 90%;
    margin: 0 auto;
  }
}

/** General page layout**/
/* line 17, ../sass/styles.scss */
html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

/* line 25, ../sass/styles.scss */
body {
  -webkit-animation: show-elemet .9s ease-in;
  -moz-animation: show-elemet .9s ease-in;
  -ms-animation: show-elemet .9s ease-in;
  -o-animation: show-elemet .9s ease-in;
  animation: show-elemet .9s ease-in;
}

/* line 29, ../sass/styles.scss */
body {
  width: 100%;
  text-align: center;
}

/* line 34, ../sass/styles.scss */
header {
  position: fixed;
  height: 60px;
  z-index: 100;
}

/* line 40, ../sass/styles.scss */
h1,
h2,
h3,
a {
  font-family: "Merrweather-Light";
}

/* line 47, ../sass/styles.scss */
p {
  font-family: "Catamaran-thin";
}

/* line 51, ../sass/styles.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 58, ../sass/styles.scss */
.page-title {
  margin: 55px auto;
  letter-spacing: 2px;
}
/* line 61, ../sass/styles.scss */
.page-title__title {
  font-size: 50px;
}
@media (min-width: 601px) {
  /* line 61, ../sass/styles.scss */
  .page-title__title {
    font-size: 70px;
    margin-bottom: 40px;
  }
}
/* line 68, ../sass/styles.scss */
.page-title__copy {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  font-size: 50px;
  margin-bottom: 40px;
}
