/*-----Reset------*/
* { margin: 0; padding: 0; }
body { background:#ffffff; font-size: 13px; color: #666666; font-family: 'Raleway',sans-serif,Arial, helvetica; text-align: center;	}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1, h2 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; text-transform: uppercase;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px; width: 100%; height: auto;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}	


html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, p {
	-webkit-animation: show-elemet 1.8s ease;
    -moz-animation: show-elemet 1.8s ease;
    -ms-animation: show-elemet 1.8s ease;
    -o-animation: show-elemet 1.8s ease;
    animation: show-elemet 1.8s ease;
}

a {
	-webkit-animation: show-elemet 2.8s ease;
    -moz-animation: show-elemet 2.8s ease;
    -ms-animation: show-elemet 2.8s ease;
    -o-animation: show-elemet 2.8s ease;
    animation: show-elemet 2.8s ease;
}
/*--Structure--*/

	/*Hamburger*/

.c-hamburger--rot span::before, .c-hamburger--rot span {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--rot.is-active span, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.c-hamburger {
  display: none;
  right: 0;
  position: fixed;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 4px;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 15px;
  right: 15px;
  height: 2px;
  background: #fff;
}

.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -8px;
}

.c-hamburger span::after {
  bottom: -8px;
}

.c-hamburger--htx {
  background-color: black;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.home {
  display: block;
  left: 0;
  color: #fff;
  position: fixed;
  overflow: hidden;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  line-height: 50px;
  transition: background 0.3s;
  border-radius: 4px;
  font-weight: 100;
  z-index: 30;

}

.home a {
	z-index: 34;
}
.wrapper{
	display: block;
	width: 100%;
}

.green {
	color: #00ced1;
}

.clearfix{
	clear: both;
}

section {
	padding-top: 60px;
}
section h2{
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #00A3A3;
}

/* menues and header section starts here.*/

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    background-color:rgba(13,12,12,0.7);
	z-index:10;
	border-bottom: 1px solid #F0F8FF;
	opacity: 1;
}

nav ul{
	max-width: 1280px;
	float: right;
}

nav li {
	display: inline-block;
	margin: 0 auto;
}

nav li a{
	margin: 0 auto;
	text-decoration: none;
	display: block;
	text-align: center;
	width: 80px;
	padding: 20px 10px;
	color: #FFFFFF;
	font-weight: 600;
}

header nav ul a:hover, header nav ul a:active {
	color: #66cccc;
}

header nav.color-menu ul a:hover, header nav.color-menu ul a:active{
	background-color: #010601;
}

.color-menu {
    background-color:#66cccc;
    border: none;
}

.active-menu{
    visibility: visible;
    transition: opacity 0.38s ease 0s;
    opacity: 1;
}

header {
	top: 0;
	left: 0;	
	margin-top: 0;
	background: url(/src/images/hero1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 1;	
	padding-bottom: 20px;
}

header h1 {
	padding-top: 15%;
}

header h1, header p {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

header a.explore {
    max-width: 150px;
    display: block;
    margin: 100px auto;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: rgba(13,12,12,0.8);
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    color: #fff;
}

/*-Columns-*/
.col {
	width: 33.3%;
	float: left;
	margin-bottom: 20px;
}

#portfolio .col img {
	width: 90%;	
	border: 3px solid #0086b3;
	margin: 0 auto;
	height: auto;
}

#portfolio .col h2,p {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.col a:hover img, .social i:hover, header a.explore:hover, header nav.color-menu ul a:hover, header nav.color-menu ul a:active {
	transform: scale(1.04);
	transition: transform .3s ease;
}
/*- About section-*/

#about{
	background-color: #e1eaea ;
	padding-bottom: 30px;
}

#about .col {
	width: 47%;
	max-height: 550px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}


#grid-slider .item img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 400px;
    margin: 0 auto;
}
	
/*- contact section-*/

#contact .col {
	width: 44%;
	padding: 0 20px;	
	position: relative;
}

#contact-form {
	display: block;
	width: 70%;
	margin: 20px auto;
	clear: both;
}

#contact label, #contact input{
	display: block;
	outline: none;
}

#contact label {
	font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: left;
}

#contact input {
	border-style: none;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid #D3D3D3;
}

input:focus::-webkit-input-placeholder {
   color: transparent;
}

input:focus:-moz-placeholder {
   color: transparent;
}

input:focus::-moz-placeholder {
   color: transparent;
}

input:focus:-ms-input-placeholder {
   color: transparent;
}

.error {
	display: none;
	padding: 0;
	margin-top: -10px;
	color: red;
	font-size: 13px;
}

.success {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	bottom: 0;
	background-color: #fff;
}

.success p {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

button {
	margin: 30px;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 5px;
    background: #66cccc;
    color: #fff;
    border: none;
    text-transform: uppercase;
    outline: none;
}

button:hover {
	cursor: pointer;
}

#contact .col input[type=submit] {
	border-style: none;
	background-color: inherit;
	display: inline-block;
	width: 50%;
}

/*- Footer section-*/


footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #031111;
	height: auto;
}

footer h2 {
	display: inline-block;
	vertical-align: middle;
    text-align: left;
}

footer h2, footer p{
	font-size: 13px;
	color: #f7f7f7;
	margin-bottom: 0px;
}

footer a {
	color: #fff;
	text-transform: lowercase;
}

.social {
    display: inline-block;
	width: 40%;
    color: #00ced1;
    vertical-align: middle;
    text-align: right;
}

.social i{
	display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #66cccc;
    color: #fff;
    padding: 10px;
}

.social i:hover {
	opacity: 0.8;
	background-color: #fff;
	color: #66cccc;
}
