/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 41, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button,
textarea {
  border: 0;
  background: none;
  outline: 0;
  resize: none;
}

/* line 67, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* Catamaran Thin */
@font-face {
  font-family: 'Catamaran-Thin';
  font-style: normal;
  font-weight: 100;
  src: url("/src/font/Catamaran/Catamaran-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran Regular */
@font-face {
  font-family: 'Catamaran-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Catamaran/Catamaran-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Catamaran SemiBold */
@font-face {
  font-family: 'Catamaran-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("/src/font/Catamaran/Catamaran-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Light */
@font-face {
  font-family: 'Merriweather-Light';
  font-style: normal;
  font-weight: 300;
  src: url("src/font/Merriweather/Merriweather-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Merriweather Extra Regular */
@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("src/font/Merriweather/Merriweather-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* OMerriweather  Bold */
@font-face {
  font-family: 'Merriweather-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("src/font/Merriweather/Merriweather-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* line 1, ../sass/form.scss */
section {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
#contact-form {
  width: 90%;
  margin: 80px auto;
  padding: 25px 15px 25px 10px;
  border: 2px solid #F7F7F7;
}

/* line 13, ../sass/form.scss */
input[type="text"], select, textarea {
  font-family: 'catamaran-Thin';
  font-size: 16px;
}

/* line 18, ../sass/form.scss */
input[type="text"] {
  border-bottom: 1px solid #595959;
  width: 320px;
  padding: 10px 0;
}

/* line 25, ../sass/form.scss */
select {
  width: 320px;
  background-color: #000033;
  color: #000;
  padding: 10px 0;
  margin-top: 15px;
}

/* line 33, ../sass/form.scss */
fieldset {
  margin-top: 50px;
  margin-bottom: 40px;
}
/* line 36, ../sass/form.scss */
fieldset *:first-child {
  margin-right: 40px;
}

/* line 41, ../sass/form.scss */
textarea {
  display: block;
  width: 100%;
  border: 1px solid;
  padding: 20px 0 80px;
  margin: 50px auto 0;
  max-width: 675px;
}

/* line 50, ../sass/form.scss */
button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #000;
  color: #000;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 58, ../sass/form.scss */
button:hover {
  background-color: #595959;
  color: #fff;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger--rot span::before, .c-hamburger--rot span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/hamburger.scss */
.c-hamburger {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  z-index: 100;
  transition: background 0.3s;
}
/* line 31, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 35, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 4px;
  right: 4px;
  height: 2px;
  background: #fff;
}
/* line 43, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
}
/* line 52, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -11px;
}
/* line 55, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -11px;
}
/* line 60, ../sass/hamburger.scss */
.c-hamburger.dark-burger {
  background-color: #fff;
}
/* line 63, ../sass/hamburger.scss */
.c-hamburger.dark-burger span {
  background: #000;
}
/* line 66, ../sass/hamburger.scss */
.c-hamburger.dark-burger span::before, .c-hamburger.dark-burger span::after {
  background: #000;
}

/* line 76, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: all 0.6s;
  background-color: #fff;
}
/* line 81, ../sass/hamburger.scss */
.c-hamburger--rot span::before {
  transition-property: top, transform;
}
/* line 85, ../sass/hamburger.scss */
.c-hamburger--rot span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 92, ../sass/hamburger.scss */
.c-hamburger--rot.is-active {
  background-color: #fff;
}
/* line 94, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  background-color: #fff;
}
/* line 96, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  background-color: #000;
}
/* line 99, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
/* line 104, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/** Portfolio Layout **/
/* line 3, ../sass/portfolio.scss */
header.portfolio-nav, footer.portfolio-footer, .button-background-color {
  background-color: #000;
}

/* line 7, ../sass/portfolio.scss */
.page-title {
  margin-top: 80px;
  padding-top: 50px;
  letter-spacing: 1px;
}
/* line 11, ../sass/portfolio.scss */
.page-title h1 {
  font-weight: 100;
  font-size: 70px;
}
/* line 15, ../sass/portfolio.scss */
.page-title p {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  font-size: 50px;
}
/* line 22, ../sass/portfolio.scss */
.page-title h1, .page-title p {
  margin-bottom: 40px;
}

/* line 27, ../sass/portfolio.scss */
.projects-list {
  margin: 50px auto;
  font-size: 70px;
}
/* line 30, ../sass/portfolio.scss */
.projects-list .menu-item {
  margin: 100px auto;
}
/* line 32, ../sass/portfolio.scss */
.projects-list .menu-item a {
  font-family: 'Catamaran-Thin';
  color: #000;
}
/* line 35, ../sass/portfolio.scss */
.projects-list .menu-item a:hover {
  color: #4fb584;
}

/* line 42, ../sass/portfolio.scss */
.project-title {
  margin: 60px auto;
  font-size: 70px;
  font-weight: 100;
}

/* line 48, ../sass/portfolio.scss */
.row {
  width: 90%;
  margin: 50px auto;
  overflow: hidden;
  clear: both;
  padding: 50px 0;
  border-bottom: 1px dotted #ddd;
}
/* line 55, ../sass/portfolio.scss */
.row:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}

/* line 61, ../sass/portfolio.scss */
.portfolio-text, .portfolio-image {
  display: inline-block;
  height: 100%;
}
/* line 64, ../sass/portfolio.scss */
.portfolio-text::before, .portfolio-image::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 72, ../sass/portfolio.scss */
.portfolio-image {
  width: 65%;
}
/* line 74, ../sass/portfolio.scss */
.portfolio-image a {
  display: block;
  width: 100%;
  filter: grayscale(100%);
  max-height: 600px;
}
/* line 79, ../sass/portfolio.scss */
.portfolio-image a img {
  width: 98%;
  margin-bottom: 50px;
}
/* line 83, ../sass/portfolio.scss */
.portfolio-image a:hover {
  filter: grayscale(0);
}
/* line 89, ../sass/portfolio.scss */
.portfolio-image .wordpress-site {
  border: 1px solid #C0C0C0;
  width: 98%;
}

/* line 95, ../sass/portfolio.scss */
.portfolio-text {
  width: 30%;
  vertical-align: center;
}
/* line 99, ../sass/portfolio.scss */
.portfolio-text ul {
  text-align: center;
}
/* line 101, ../sass/portfolio.scss */
.portfolio-text ul li {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 150%;
}

/* line 111, ../sass/portfolio.scss */
.paragraph {
  font-size: 18px;
  margin: 35px auto;
  color: #C0C0C0;
}

/* line 117, ../sass/portfolio.scss */
.pull-left {
  float: left;
}

/* line 121, ../sass/portfolio.scss */
.pull-right {
  float: right;
}

/* line 125, ../sass/portfolio.scss */
.site-content, .title, .portfolio-text {
  color: #000;
}

/* line 129, ../sass/portfolio.scss */
.portfolio-footer {
  position: relative;
  color: #fff;
  z-index: 0;
}

/** About section**/
/* line 3, ../sass/about.scss */
.about-hero {
  background: url("/src/images/cityview.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 55vh;
  background-color: #000;
}
/* line 14, ../sass/about.scss */
.about-hero h1 {
  font-size: 35px;
  color: #fff;
  letter-spacing: 6px;
}

/* line 21, ../sass/about.scss */
.about-content {
  margin: 30px auto;
  max-width: 720px;
  padding: 20px 0;
}
/* line 25, ../sass/about.scss */
.about-content h2, .about-content p {
  margin: 40px 0;
  padding-right: 60px;
  padding-left: 60px;
}
/* line 31, ../sass/about.scss */
.about-content h2 {
  letter-spacing: 2px;
  font-size: 33px;
}
/* line 35, ../sass/about.scss */
.about-content p {
  letter-spacing: 1.5px;
  line-height: 150%;
  font-size: 20px;
  font-weight: 100;
}
/* line 41, ../sass/about.scss */
.about-content .photo-about-content {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  overflow: hidden;
}

/** Contact Page**/
/* line 3, ../sass/contact.scss */
div.contact-hero {
  background: url("/src/images/typewriter.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 55vh;
  background-color: #000;
}
/* line 13, ../sass/contact.scss */
div.contact-hero h1 {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

/* line 23, ../sass/contact.scss */
.contact-hero, .about-hero {
  overflow: hidden;
}
/* line 25, ../sass/contact.scss */
.contact-hero h1, .about-hero h1 {
  width: 100%;
  padding: 400px;
  background: rgba(0, 0, 0, 0.32);
}

/* line 1, ../sass/footer.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 40px 0;
  clear: both;
  z-index: 55;
  overflow: hidden;
}
/* line 9, ../sass/footer.scss */
footer .email-container {
  float: left;
  margin-left: 50px;
}
/* line 12, ../sass/footer.scss */
footer .email-container a {
  font-size: 18px;
}
/* line 14, ../sass/footer.scss */
footer .email-container a:hover {
  color: #4fb584;
}
/* line 18, ../sass/footer.scss */
footer .email-container span {
  font-size: 60%;
}
/* line 22, ../sass/footer.scss */
footer .social {
  float: right;
  margin-right: 50px;
}

/** General page layout**/
/* line 14, ../sass/styles.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 19, ../sass/styles.scss */
.wrapper {
  position: relative;
  font-size: 0;
  clear: both;
  overflow: hidden;
}

/* line 26, ../sass/styles.scss */
body {
  text-align: center;
}
/* line 28, ../sass/styles.scss */
body.home {
  overflow-y: hidden;
}
/* line 32, ../sass/styles.scss */
body.overlay-active {
  overflow-y: hidden;
}
/* line 35, ../sass/styles.scss */
body a, body i {
  color: #fff;
}

/* line 40, ../sass/styles.scss */
#logo {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 10px;
  left: 0;
  text-decoration: none;
  line-height: 40px;
  color: #fff;
  z-index: 90;
}
/* line 50, ../sass/styles.scss */
#logo i {
  display: block;
  font-size: 40px;
  color: #fff;
}
/* line 55, ../sass/styles.scss */
#logo.dark-logo {
  color: #000;
  background-color: #fff;
}
/* line 58, ../sass/styles.scss */
#logo.dark-logo i {
  display: block;
  color: #000;
}

/* line 65, ../sass/styles.scss */
.invisible {
  opacity: 0;
}

/* line 69, ../sass/styles.scss */
h1, h2, h3, a {
  font-family: 'Merrweather-Light';
}

/* line 73, ../sass/styles.scss */
p {
  font-family: 'Catamaran-Thin';
}

/** HomePage **/
/* line 79, ../sass/styles.scss */
.site-content {
  width: 100%;
  clear: both;
  -webkit-animation: show-elemet .9s ease-in;
  -moz-animation: show-elemet .9s ease-in;
  -ms-animation: show-elemet .9s ease-in;
  -o-animation: show-elemet .9s ease-in;
  animation: show-elemet .9s ease-in;
}

/* line 85, ../sass/styles.scss */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  z-index: 52;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -ms-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  -o-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.33);
  transition: all 0.7s ease-in-out;
}
/* line 96, ../sass/styles.scss */
.overlay.active {
  width: 50%;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

/* line 103, ../sass/styles.scss */
.site-nav {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* line 111, ../sass/styles.scss */
.site-nav #currentpage a {
  font-size: 42px;
  font-weight: 600;
  color: #4fb584;
}
/* line 115, ../sass/styles.scss */
.site-nav #currentpage a.home-page-a {
  color: #4fb584;
}
/* line 120, ../sass/styles.scss */
.site-nav li {
  margin-bottom: 30px;
}
/* line 122, ../sass/styles.scss */
.site-nav li a {
  color: #000;
  font-size: 42px;
  letter-spacing: 4px;
}
/* line 126, ../sass/styles.scss */
.site-nav li a:hover, .site-nav li a:active {
  color: #4fb584;
}
/* line 129, ../sass/styles.scss */
.site-nav li a.home-page-a {
  color: #4fb584;
}
/* line 131, ../sass/styles.scss */
.site-nav li a.home-page-a:hover, .site-nav li a.home-page-a:active {
  color: #000;
}

/* line 141, ../sass/styles.scss */
.hero {
  display: block;
  float: left;
  height: 100vh;
  width: 50vw;
  background-color: #000;
}
/* line 147, ../sass/styles.scss */
.hero h1, .hero p {
  font-weight: 100;
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 20px;
}
/* line 154, ../sass/styles.scss */
.hero h1 {
  font-size: 70px;
}
/* line 157, ../sass/styles.scss */
.hero p {
  font-size: 40px;
}
/* line 160, ../sass/styles.scss */
.hero div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 167, ../sass/styles.scss */
.slider-container {
  display: block;
  float: left;
  width: 50vw;
  height: 100vh;
  background-color: #000;
}

/* line 175, ../sass/styles.scss */
.slider-for {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 183, ../sass/styles.scss */
.slick-track, .slick-container, .slick-slide, .slick-list {
  width: 100%;
  height: 100%;
}

/* line 189, ../sass/styles.scss */
.slick-slide {
  height: 100%;
}
/* line 191, ../sass/styles.scss */
.slick-slide img {
  filter: sepia(70%);
  height: 100%;
  width: 100%;
}

/* line 200, ../sass/styles.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* line 207, ../sass/styles.scss */
.center.hero-text {
  -webkit-animation: show-elemet 0.7s ease-in;
  -moz-animation: show-elemet 0.7s ease-in;
  -ms-animation: show-elemet 0.7s ease-in;
  -o-animation: show-elemet 0.7s ease-in;
  animation: show-elemet 0.7s ease-in;
}
/* line 210, ../sass/styles.scss */
.center.hero-text h1, .center.hero-text p {
  margin-bottom: 40px;
}
/* line 213, ../sass/styles.scss */
.center.hero-text h1 {
  font-size: 48px;
}
/* line 216, ../sass/styles.scss */
.center.hero-text p {
  font-size: 30px;
}

/* line 222, ../sass/styles.scss */
.social a {
  display: inline-block;
  margin-left: 20px;
}
/* line 225, ../sass/styles.scss */
.social a i {
  display: block;
  font-size: 25px;
  color: #fff;
}
/* line 229, ../sass/styles.scss */
.social a i:hover {
  color: #4fb584;
  border-bottom: none;
}
/* line 237, ../sass/styles.scss */
.social.dark-logo a i {
  color: #000;
}
/* line 239, ../sass/styles.scss */
.social.dark-logo a i:hover {
  color: #4fb584;
}

/* Media Queries */
@media (max-width: 980px) {
  /* line 252, ../sass/styles.scss */
  .hero h1 {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  /* line 263, ../sass/styles.scss */
  body a.home {
    left: 10px;
  }

  /* line 269, ../sass/styles.scss */
  .center.hero-text h1 {
    font-size: 45px;
  }
  /* line 272, ../sass/styles.scss */
  .center.hero-text p {
    font-size: 28px;
  }

  /* line 278, ../sass/styles.scss */
  .overlay.active {
    width: 100%;
  }

  /* line 283, ../sass/styles.scss */
  .site-header {
    padding: 20px;
  }

  /* line 287, ../sass/styles.scss */
  .row {
    width: 98%;
    margin: 30px auto;
    overflow: hidden;
    clear: both;
    padding-top: 30px;
  }

  /* line 295, ../sass/styles.scss */
  .portfolio-image, .portfolio-text {
    width: 100%;
  }

  /* line 299, ../sass/styles.scss */
  .pull-right, .pull-left {
    float: none;
  }

  /* line 303, ../sass/styles.scss */
  fieldset *:first-child {
    margin-right: 20px;
  }

  /* line 307, ../sass/styles.scss */
  input[type="text"] {
    width: 235px;
  }

  /* line 311, ../sass/styles.scss */
  textarea {
    max-width: 485px;
  }

  /* line 315, ../sass/styles.scss */
  input[type="text"], textarea {
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  /* line 324, ../sass/styles.scss */
  section {
    margin: 0;
  }

  /* line 328, ../sass/styles.scss */
  .center {
    width: 100%;
  }

  /* line 333, ../sass/styles.scss */
  .center.hero-text h1 {
    font-size: 30px;
  }
  /* line 336, ../sass/styles.scss */
  .center.hero-text p {
    font-size: 15px;
  }

  /* line 343, ../sass/styles.scss */
  .about-hero h1 {
    font-size: 25px;
    letter-spacing: 2px;
  }

  /* line 349, ../sass/styles.scss */
  .about-content h2 {
    font-size: 30px;
  }

  /* line 353, ../sass/styles.scss */
  .contact-form {
    border: none;
    width: 100%;
    margin: 30px 0;
    padding: 0;
  }

  /* line 360, ../sass/styles.scss */
  fieldset {
    margin: 0;
  }
  /* line 362, ../sass/styles.scss */
  fieldset *:first-child {
    margin: 0;
  }

  /* line 367, ../sass/styles.scss */
  input[type="text"] {
    margin: 20px 0;
  }

  /* line 371, ../sass/styles.scss */
  input[type="text"], textarea {
    width: 90%;
  }

  /* line 375, ../sass/styles.scss */
  footer .copyright, footer .social {
    float: none;
    margin: 0;
    padding-bottom: 10px;
  }
  /* line 379, ../sass/styles.scss */
  footer .copyright h3, footer .copyright p, footer .copyright a, footer .social h3, footer .social p, footer .social a {
    text-align: center;
  }

  /* line 384, ../sass/styles.scss */
  .projects-list {
    font-size: 40px;
  }
}
